.form_title {
    margin-bottom: 4px;
}

.form_row + .form_row {
    margin-top: 16px;
}

.form_row.sx-submit {
    margin-top: 32px;
}

.form_cols {
    display: flex;
}

.form_cols_col:not(:first-child) {
    margin-left: 8px;
}

.form_cols_col.sx-basis-100 {
    flex-basis: 100%;
}

.form_comment {
    margin: 4px 0 0 0;
}

.form.sx-loading {
    opacity: 0.5;
}

input[type="button"], input[type="submit"], button, .btn {
    box-sizing: border-box;
    position: relative; /* обязательно, т.к. внутри могут быть img */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border: #d3d3d3 solid 1px;
    height: 26px;
    text-decoration: none;
    line-height: 26px;
    font-size: 13.3px; /* настроено в ручную */
    cursor: pointer;
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}

input[type="button"]:active, input[type="submit"]:active, button:active, .btn:active {
    color: #353535; /* для Safari */
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
}

input[type="button"][disabled], input[type="submit"][disabled], button[disabled], .btn[disabled] {
    color: #999999; /* для Safari */
}

/* для Safari */
input[type="button"][disabled]:active, input[type="submit"][disabled]:active, button[disabled]:active, .btn[disabled]:active {
    background: white;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}

input[type="button"].sx-big, input[type="submit"].sx-big, button.sx-big, .btn.sx-big {
    padding: 0 16px;
    font-size: 16px;
    height: 32px;
}

input[type="button"] img, input[type="submit"] img, button img, .btn img {
    display: block;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], select, input[type="file"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 64px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    border: #d3d3d3 solid 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 26px;
}

input[type="text"].sx-error, input[type="number"].sx-error, input[type="email"].sx-error, input[type="password"].sx-error, select.sx-error, input[type="file"].sx-error {
    border-color: red;
}

input[type="text"].sx-auto, input[type="number"].sx-auto, input[type="email"].sx-auto, input[type="password"].sx-auto, select.sx-auto, input[type="file"].sx-auto {
    display: initial;
    width: auto;
}

input[type="text"][disabled], input[type="number"][disabled], input[type="email"][disabled], input[type="password"][disabled], select[disabled], input[type="file"][disabled] {
    background-color: #f5f5f5;
}

input[type="text"] + input[type="submit"], input[type="number"] + input[type="submit"], input[type="email"] + input[type="submit"], input[type="password"] + input[type="submit"], select + input[type="submit"], input[type="file"] + input[type="submit"] {
    border-left: 0;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 64px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    border: #d3d3d3 solid 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    min-height: 160px;
}