.module-paginator {
    display: flex;
    justify-content: flex-end;
}

.module-paginator > *:not(:first-child) {
    margin-left: 8px;
}

.module-paginator_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorGray8);
    padding: 4px 8px;
}