.module-counter {
    display: inline-flex;
}

.module-counter_minus, .module-counter_plus {
    width: 25px;
}

.module-counter input[type="number"] { /* переназначим явно */
    width: 40px;
    /* верзем назад значения */
    padding: initial;
    display: initial;
    height: initial;
}

.module-counter.sx-lg .module-counter_minus, .module-counter.sx-lg .module-counter_plus {
    width: 35px;
    font-size: 20px;
}

.module-counter.sx-lg input[type="number"] {
    width: 60px;
    font-size: 20px;
}