.module-paginator {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.module-paginator > * {
    margin-right: 8px;
    margin-bottom: 8px;
}

.module-paginator_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorGray8);
    padding: 4px 8px;
}

.module-paginator_item.sx-active {
    background-color: var(--colorGray8);
}