.module-cart-item {
    display: flex;
    border: lightgrey solid 1px;
}

.module-cart-item + .module-cart-item {
    margin-top: 10px;
}

.module-cart-item:hover {
    border-color: darkgray;
}

.module-cart-item > *:not(:first-child) {
    margin-left: 10px;
}

.module-cart-item__cover {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    overflow: hidden;
    background-color: whitesmoke;
}

.module-cart-item__content {
    flex-basis: 100%;
}

.module-cart-item__content > *:not(:last-child) {
    margin-bottom: 10px;
}
