.page-cat {
    display: flex;
}

.page-cat > *:not(:last-child) {
    margin-right: 10px;
}

.page-cat_menu {
    flex: 0 0 200px;
}

.page-cat_main {
    flex-basis: 100%;
}

.page-cat_breakcrumbs {
    margin-bottom: 10px;
    padding-top: 10px;
}

.page-cat_items {
    display: table;
    width: 100%;
}

.page-cat_paginator {
    margin-top: 10px;
}