body {
    margin: 0;
    font-family: var(--fontFamily);
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    background-color: var(--colorWhite); /* необходимо для надежности */
    color: var(--colorGray2);
}

.container {
    box-sizing: border-box;
    max-width: var(--maxWidth);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.text-eclipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-mute {
    color: var(--colorGray5);
}

.text-mute a {
    color: var(--colorGray4);
}

.text-nowrap {
    white-space: nowrap;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none !important; /* для перекрытия искусственно повышаем важность, далее не делаем */
}

.not-visible {
    visibility: hidden;
}

.hr {
    height: 1px;
    margin: 8px 0;
    border: 0;
    background-color: var(--colorGray8);
}

.sx-bg-whitesmoke {
    background-color: var(--colorGray8);
}

.float-right {
    float: right;
}

.arrow-in-top-menu {
    font-weight: bold;
    font-family: monospace;
    transform: scaleX(0.6);
    font-size: larger;
}

/* ----------------------app-------------------- */

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app_top {
    margin-bottom: 16px;
}

.app_bot {
    flex: 1 0 auto;
    margin-top: 16px;
    background-color: var(--colorGray1);
}

/* ----------------------header-------------------- */

header {
    background-color: var(--colorGray8);
    border-bottom: var(--colorGray7) solid 1px;
    box-shadow: 0 0 3.2px rgba(0, 0, 0, 0.1);
    min-height: 32px;
    padding: 4px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_child {
    flex-basis: 100%;
}

.header_child:not(:first-child) {
    margin-left: 16px;
}

.header_child:last-child .header_flexbox {
    justify-content: flex-end;
}

.header_flexbox {
    display: flex;
    align-items: center;
}

.header_flexbox > *:not(:first-child) {
    margin-left: 16px;
}

.header_logo_img-desktop {
    display: block;
    height: 32px;
}

.header_cart_img-desktop {
    display: block;
    height: 16px;
}

/* ----------------------main-------------------- */
.main {
    display: flex;
}

.main_column {
    flex: 0 1 100%;
}

.main_column.sx-side {
    flex: 1 0 200px;
}

.main_column + .main_column {
    margin-left: 8px;
    padding-left: 8px;
    border-left: var(--colorGray8) solid 1px;
}

/* ----------------------footer-------------------- */

footer {
    padding: 16px 0;
}

.footer {
    color: var(--colorGray5);
}

.footer_row {
    display: flex;
    justify-content: space-between;
}

.footer_row + .footer_row {
    margin-top: 16px;
}

.footer_column {
    flex-basis: 100%;
}

.footer_column:not(:first-child) {
    margin-left: 16px;
}

.footer a {
    color: var(--colorGray6);
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ----------------------etc-------------------- */

@media (max-width: var(--maxWidth)) {
}